.siwecos-circle__circle {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.siwecos-circle__circle strong {
  position: absolute;
  top: 1.7em;
  left: .2em;
  width: 100%;
  text-align: center;
  line-height: 1em;
  font-size: 1.2em;
}
